@keyframes slide {
  from {
    top: -200%;
    left: -70%;
  }
  to {
    top: 300%;
    left: 50%;
  }
}

.custom-button {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 1rem 2rem;
  height: 40px;
  letter-spacing: 0.1rem;
  font-family: $main-font;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: $primary-color;
  color: $text-color;
  border-radius: 0.2rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $tertiary-color;
  }

  &::before {
    content: '';
    position: absolute;
    top: -20%;
    left: -80%;
    width: 150%;
    height: 0;
    box-shadow: 0 0 30px 5px;
    transform: rotateZ(-30deg);
    background-color: $text-color;
    animation: slide 2.5s infinite;
  }
}
