@keyframes word-box {
  0% {
    transform: rotateX(0);
  }
  40% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.home-page {
  width: 100%;
  display: flex;
  color: $text-color;

  .title {
    font-weight: 400;
    text-align: center;
    margin: 4rem auto;

    .developer {
      display: inline-block;
      color: $text-color;
      border: $text-color 1px solid;
      padding: 0.5rem;
      margin-left: 0.5rem;
      animation: word-box 3s infinite ease-out;
    }
  }
}
