@keyframes word-box {
  0% {
    transform: rotateX(0);
  }
  40% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.home-page {
  width: 100%;
  padding: 1.5rem 1rem;
  display: flex;

  // tmp
  height: 92vh;

  .title {
    font-weight: 400;
    text-align: center;
    margin: 2rem auto;

    .developer {
      display: inline-block;
      border: black 1px solid;
      padding: 0.5rem;
      margin-left: 0.5rem;
      animation: word-box 3s infinite ease-out;
    }
  }
}
