@keyframes color-blink {
  0% {
    fill: $primary-color;
  }
  50% {
    fill: $secondary-color;
  }
  100% {
    fill: $primary-color;
  }
}

.header {
  position: sticky;
  width: 100%;
  min-width: 400px;
  height: 60px;
  background-color: $background-color;
  color: $text-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;

  .logo-container {
    padding: 0 1rem;

    .logo {
      height: 2rem;
      width: 2rem;
      g {
        g {
          path {
            animation: color-blink 3s infinite ease-in;
          }
        }
      }
    }
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // selecting all the links separately
    & > * {
      padding-right: 1rem;
      transition: color 0.15s ease-in-out;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}
