@mixin shrinkLabel {
  top: 10px;
  font-size: 0.9rem;
  color: $text-color;
}

.group {
  position: relative;
  width: 100%;
  color: $background-color;

  .form-input {
    font-family: $main-font;
    background: none;
    background-color: white;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0.2rem;
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.2);
    margin-top: 30px;
    text-transform: initial;

    &.error {
      border: 2px solid $error-color;
      box-shadow: 0 0 10px 1px rgba(255, 0, 0, 0.4);
    }

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  .form-input-label {
    position: absolute;
    font-size: 1rem;
    font-weight: 300;
    font-family: $main-font;
    pointer-events: none;
    left: 5px;
    top: 40px;
    transition: 300ms ease all;
    text-transform: initial;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
