$primary-color: #1c9297;
$secondary-color: #b1e0e9;
$tertiary-color: #0c2d46;
$background-color: #000;
$text-color: #fff;
$error-color: #df0000;
$star-color: #ffaabd;
$main-font: 'Montserrat';

@import './components/header/header';
@import './pages/home-page/home-page';
@import './pages/contact-page/contact-page';
@import './components/contact-form/contact-form';
@import './pages/about-page/about-page';
@import './components/form-input/form-input';
@import './components/custom-button/custom-button';

.App {
  position: relative;
  min-height: 100vh;
  @import './animations/stars-background';

  // background: linear-gradient(15deg, $primary-color, $secondary-color);

  // .background-image {
  //   position: absolute;
  //   z-index: -10;
  //   width: 100%;
  //   height: 100%;
  //   background-image: url(./assets/images/moon.jpg);
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // }
}
